<ul class="nav navbar-nav">
  <li class="<%= active_class('tasks') %>"> 
    <%= link_to t('controller.tasks'), main_app.tasks_path %>
  </li>
  <li class="<%= active_class('ottrick/otrs_queues') %>"> 
    <%= link_to t('controller.ottrick/otrs_queues'), ottrick.otrs_queues_path %>
  </li>
  <li class="<%= active_class('ottrick/tickets') %>"> 
    <%= link_to t('controller.ottrick/tickets'), ottrick.tickets_path %>
  </li>
</ul>
