<%= simple_form_for(@ticket,
  html: { class: 'form-horizontal well' },
  wrapper: :horizontal_form,
  wrapper_mappings: {
    check_boxes: :horizontal_radio_and_checkboxes,
    radio_buttons: :horizontal_radio_and_checkboxes,
    file: :horizontal_file_input,
    boolean: :horizontal_boolean
  }) do |f| %>

  <%= f.error :base %>

  <fieldset>
    <%= form_legend %>

    <div class="form-inputs">
      <%= polymorphic_selector(f, 'authorizable', Ottrick.ticketfor_types) %>
      <%= f.input :sender
       %>
      <%= f.association :otrs_queue
       %>
      <%= f.input :subject
       %>
      <%= f.input :text
       %>
    </div>

    <div class="form-actions col-sm-9 col-sm-offset-3">
      <%= f.button :submit, class: 'btn btn-primary' %>
      <%= cancel_button %>
    </div>
  </fieldset>
<% end %>
