<table class="table table-bordered table-hover autowidth">
  <tr>
    <th><%= t('attributes.ticketfor')%>:</th>
    <td><%= @ticket.ticketfor %></td>
  </tr>
  <tr>
    <th><%= t('attributes.ticketfor_type')%>:</th>
    <td><%= @ticket.ticketfor_type %></td>
  </tr>
  <tr>
    <th><%= t('attributes.sender')%>:</th>
    <td><%= @ticket.sender %></td>
  </tr>
  <tr>
    <th><%= t('attributes.otrs_queue')%>:</th>
    <td><%= @ticket.otrs_queue %></td>
  </tr>
  <tr>
    <th><%= t('attributes.subject')%>:</th>
    <td><%= @ticket.subject %></td>
  </tr>
  <tr>
    <th><%= t('attributes.text')%>:</th>
    <td><%= @ticket.text %></td>
  </tr>
  <tr>
    <th><%= t('attributes.ticketnumber')%>:</th>
    <td><%= otrs_ticket_link(@ticket, :number) %></td>
  </tr>
  <tr>
    <th><%= t('attributes.otrs_ticket_id')%>:</th>
    <td><%= otrs_ticket_link(@ticket, :id) %></td>
  </tr>
</table>

<div class="btn-toolbar" role="toolbar">
  <%= back_link %>
  <%= edit_link([ottrick, @ticket]) %>
  <%= delete_link([ottrick, @ticket]) %>
  <%= new_link([ottrick, Ottrick::Ticket]) %>
</div>
