<h1><%= t('controller.otrs_queues') %></h1>

<table id="dataTable" class="table table-bordered table-striped dataTable">
<thead>
  <tr>
    <th><%= t('attributes.name') %></th>
    <th><%= t('attributes.otrs_queue_id') %></th>
    <th></th>
  </tr>
</thead>
<tbody>

<% @otrs_queues.each do |otrs_queue| %>
  <%= content_tag_for(:tr, otrs_queue) do %>
    <td><%= otrs_queue.name %></td>
    <td><%= otrs_queue.otrs_queue_id %></td>
    <td class="nowrap">
      <%= show_link [ottrick, otrs_queue ] %>
      <%= edit_link [ottrick, otrs_queue ] %>
      <%= delete_link [ottrick, otrs_queue ] %>
    </td>
  <% end %>
<% end %>
</tbody>
</table>

<br />

<%= back_link %>
<%= new_link [ottrick, Ottrick::OtrsQueue ] %>
