<p id="notice"><%= notice %></p>

<p>
  <strong>Subject:</strong>
  <%= @task.subject %>
</p>

<p>
  <strong>Message:</strong>
  <%= @task.message %>
</p>

<%= link_to 'Edit', edit_task_path(@task) %> |
<%= link_to 'Back', tasks_path %>
