<p id="notice"><%= notice %></p>

<p>
  <strong>Subject:</strong>
  <%= @task.subject %>
</p>

<p>
  <strong>Message:</strong>
  <%= @task.message %>
</p>

<p>
  <strong>OTRS-Tickets:</strong>
  <%= content_tag_for(:span, @task.tickets) do |ticket| %>
    <%= otrs_ticket_link(ticket, :number) %>
  <% end %>
</p>


<%= link_to 'Edit', edit_task_path(@task) %> |
<%= link_to 'Back', tasks_path %>
